# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
ENV/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite / Build cache
frontend/.vite/

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
.history/
